* {
	font-family: Friendly Schoolmates;
}

h1, h2 {
	color: #E4E0E1;
}

body {
	background-image: url("/latihan/images/rumahgadangterbaru.jfif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1600px;
}

}
h1 {
	text-align: center;
	background-color: #AB886D
}
p {
	text-align: justify;
}
h2 {
	text-align: center;
	background-color: #AB886D

}

p {
	text-align: justify;
}

h3 {
	text-align: center;
	background-color: #AB886D
}
div {
	padding: 20px;
	padding-bottom: 200px;
	padding-top: 50px;
	padding-right: 70px;
	padding-left: 80px;
	height: 150px;
	background-color: rgba(300, 300, 300, 0.7);
	margin-top: 100px;
	margin-left: 20px;
	margin-right: 50px;
	margin-bottom: 100px;
}
img {
	width: 130px;
	height: 130px;
	margin: 5px;
}
.border {
	border-style: solid;
	border-color: #3B3030
	border-radius: 3px;

}
div {
	padding: 20px;
	padding-bottom: 200px;
	padding-top: 50px;
	padding-right: 70px;
	padding-left: 80px;
	height: 150px;
	background-color: rgba(300, 300, 300, 0.7);
	margin-top: 100px;
	margin-left: 20px;
	margin-right: 50px;
	margin-bottom: 100px;
}